<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
    <p style="color: red" th:text="${access}"></p>
<form action="/music/update" method="post" th:object="${music}">
    <!--    <label>Id: </label>-->
    <input type="hidden" th:field="*{id}" name="id"/> <br>
    <label>Name: </label>
    <input type="text" th:field="*{name}" name="name"> <br>
    <label>ArtistName: </label>
    <input type="text" th:field="*{artistName}" name="artistName"> <br>
    <label>KindOfMusic: </label>
    <input type="text" th:field="*{kindOfMusic}" name="kindOfMusic"> <br>
    <label>PathMusic: </label>
    <input type="text" th:field="*{pathMusic}" name="pathMusic"> <br>
    <button type="submit">Update</button>

</form>


</body>
</html>